.jumbotron
  .container
    %h1 About Koala
    %p.lead Koala is open source. That means that you have access to the source code. You can copy it, learn from it, alter it, or share it. Not only that, it is built on a rich foundation of other open source projects.
.container
  .row
    .col-md-4
      %h2 Ruby
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    .col-md-4
      %h2 Hanami
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    .col-md-4
      %h2 Bootstrap
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.