.container
  .jumbotron
    %h1 Welcome to Koala
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tellus arcu, vestibulum a tincidunt eu, tempus quis dolor. Etiam viverra nisi vitae nibh facilisis blandit. Proin sodales orci eu pulvinar gravida. Aliquam et dui vel elit lobortis maximus.